# Python cache
__pycache__/
*.py[cod]

# Virtual environments
.venv/
env/

# IDE settings
.vscode/
.idea/

# Build artifacts
build/
dist/
*.egg-info/

# Notebooks checkpoints
.ipynb_checkpoints/

# Experiment outputs
outputs/
